## generic files to ignore
*~
*.DS_Store
bin/*
source/*.o
source/*.mod
age_pdf_output/*.dat
age_pdf_output/*.csv
data/observed_ages/*
data/predicted_ages/*
kmc_percent_pass_summary*
kuiper_mc_results*
